/*
 * My own CSS over-rides and customisations, independent of the main poole & hyde files
 */

img {
  height: auto;
}

img.emoji {
  display: inline;
  border-radius: 0;
  margin: 0 0 0.3rem;
}

/*---:[ Image alignment ]:---*/
img.alignleft, img.left { float: left; margin-right: 10px }
img.alignright, img.right { float: right; margin-left: 10px }
img.aligncenter, img.center { clear: both; display: block; float: none; margin: 0 auto; }
img.alignnone, img.block { clear: both; display: block; }
img[align="left"] { clear: left; float: left; margin-right: 10px }
img[align="right"] { clear: right; float: right; margin-left: 10px }
img[align="middle"] { clear: both; display: block; float: none; margin: 0 auto; }

/*---:[ Other Alignment ]:---*/
.center, .centered { margin: 0 auto; text-align: center; }
.alignright { float: right; margin-left: 1.571em; }
.alignleft { float: left; margin-right: 1.571em; }


embed, object, video, iframe { max-width: 100%; }

figcaption {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
}

figure img {
  margin-bottom: 0;
}

/* theme-colin */
.theme-colin .sidebar p {
  font-size: 0.5rem;
}

.theme-colin .sidebar-about h1 {
  line-height: 1em;
}

.theme-colin .sidebar-about .lead {
  font-size: 0.9rem;
}

.theme-colin .content .aside {
  margin-bottom: 4em;
}

.theme-colin .content .aside .post-date {
  display: inline;
}

.theme-colin .content .post-title,
.theme-colin .content .page-title {
  font-family: "Abril Fatface", serif;
}

.theme-colin .content .post-title,
.theme-colin .content .post-title a,
.theme-colin .content .page-title {
  color: #3453a1;
}

.theme-colin .content ul.archives {
  padding-left: 0;
}

.theme-colin .content .about_follow img {
  display: inline;
  margin-right: 20px;
}

.theme-colin .sidebar a:hover,
.theme-colin .content a:hover {
  color: #bf0222;
  -webkit-transition: color .25s linear,border-color .25s linear;
  -moz-transition: color .25s linear,border-color .25s linear;
  -ms-transition: color .25s linear,border-color .25s linear;
  transition: color .25s linear,border-color .25s linear;
  text-decoration: none;
}
