---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  {% if post.tags contains "shorts" %}
    <div class="aside">
      <p><span class="post-date">{{ post.date | date_to_string }}</span> &middot; {{ post.content | remove:'<p>' | remove:'</p>' }}</p>
  {% else %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {% if post.content contains "<!--more-->" or post.content contains "<!-- more -->" %}
        {% if post.content contains "<!--more-->" %}
          {{ post.content | split:"<!--more-->" | first % }}
        {% else %}
          {{ post.content | split:"<!-- more -->" | first %}}
        {% endif %}
        <span class="more-link"><a href="{{ post.url }}">Continue reading →</a></span>
      {% else %}
        {{ post.content }}
      {% endif %}
    {% endif %}
    {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 or forloop.index == 10 %}
      {% include google-adsense-responsive.html %}
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
