---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.posts limit:15 %}
  {% if post.tags contains "shorts" or post.tags contains "aside" or post.tags contains "note" %}
  <!-- Anchor links on Asides -->
    <div class="aside">
      <p><a class="link-icon" href="{{ post.url }}" style="opacity: 1; font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
      <path fill="#000000" d="M6.879 9.934c-0.208 0-0.416-0.079-0.575-0.238-1.486-1.486-1.486-3.905 0-5.392l3-3c0.72-0.72 1.678-1.117 2.696-1.117s1.976 0.397 2.696 1.117c1.486 1.487 1.486 3.905 0 5.392l-1.371 1.371c-0.317 0.317-0.832 0.317-1.149 0s-0.317-0.832 0-1.149l1.371-1.371c0.853-0.853 0.853-2.241 0-3.094-0.413-0.413-0.963-0.641-1.547-0.641s-1.134 0.228-1.547 0.641l-3 3c-0.853 0.853-0.853 2.241 0 3.094 0.317 0.317 0.317 0.832 0 1.149-0.159 0.159-0.367 0.238-0.575 0.238z"></path>
      <path fill="#000000" d="M4 15.813c-1.018 0-1.976-0.397-2.696-1.117-1.486-1.486-1.486-3.905 0-5.392l1.371-1.371c0.317-0.317 0.832-0.317 1.149 0s0.317 0.832 0 1.149l-1.371 1.371c-0.853 0.853-0.853 2.241 0 3.094 0.413 0.413 0.962 0.641 1.547 0.641s1.134-0.228 1.547-0.641l3-3c0.853-0.853 0.853-2.241 0-3.094-0.317-0.317-0.317-0.832 0-1.149s0.832-0.317 1.149 0c1.486 1.486 1.486 3.905 0 5.392l-3 3c-0.72 0.72-1.678 1.117-2.696 1.117z"></path>
      </svg></a>
      <span class="post-date">{{ post.date | date_to_string }}</span> &middot; {{ post.content | remove:'<p>' | remove:'</p>' }}</p>
  {% else %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <p class="post-meta"><span class="post-date">{{ post.date | date_to_string }}</span> // <span>{% for tag in post.tags %}{{ tag | capitalize }}{% if forloop.last != true %}, {% endif %}{% endfor %}</span></p>

      {% assign word_count = post.content | strip_html | number_of_words %}

      {% if post.content contains "<!--more-->" or post.content contains "<!-- more -->" %}
        {% if post.content contains "<!--more-->" %}
          {{ post.content | split:"<!--more-->" | first }}
        {% else %}
          {{ post.content | split:"<!-- more -->" | first }}
        {% endif %}
        <span class="more-link"><a href="{{ post.url }}">Continue reading →</a></span>
      {% elsif word_count > 100 %}
        {{ post.excerpt }}
        <span class="more-link"><a href="{{ post.url }}">Continue reading →</a></span>
      {% else %}
        {{ post.content }}
      {% endif %}
    {% endif %}
    {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 or forloop.index == 10 %}
      {% include google-adsense-responsive.html %}
    {% endif %}
  </div>
  {% endfor %}
</div>

<p class="center">-[ <a href="/archives">Older Posts</a> ]-</p>

{% comment %} hCard - hidden from view as its only useful for computers {% endcomment %}
<span style="display:none" class="h-card">
  <img src="https://barefootrunner.co.uk/img/profile.png" alt="" class="u-photo" />
  <a class="p-name u-url" href="https://barefootrunner.co.uk">{{ site.name }}</a>
  <span class="u-email">lildood@gmail.com</span>
  <span class="p-note">GitHub developing, beer drinking, barefoot & minimalist running fundi.</span>
  <span class="p-country-name">United Kingdom</span>
</span>
