/*
 * My own CSS over-rides and customisations, independent of the main poole & hyde files
 */

img {
  height: auto;
}

embed, object, video, iframe { max-width: 100%; }

figcaption {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
}

.sidebar p {
  font-size: 0.5rem;
}

.sidebar-about .lead {
  font-size: 0.9rem;
}
