/*
 * My own CSS over-rides and customisations, independent of the main poole & hyde files
 */

img {
  height: auto;
}

embed, object, video, iframe { max-width: 100%; }

figcaption {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
}

/* theme-colin */
.theme-colin .sidebar p {
  font-size: 0.5rem;
}

.theme-colin .sidebar-about .lead {
  font-size: 0.9rem;
}

.theme-colin .sidebar a:hover {
  text-decoration: none
}

.theme-colin .content a,
.theme-colin .content .post-title,
.theme-colin .content .page-title {
  color: #3453a1;
}

.theme-colin .sidebar a:hover,
.theme-colin .content a:hover {
  color: #bf0222;
  -webkit-transition: color .25s linear,border-color .25s linear;
  -moz-transition: color .25s linear,border-color .25s linear;
  -ms-transition: color .25s linear,border-color .25s linear;
  transition: color .25s linear,border-color .25s linear;
  text-decoration: none;
}
