/*---:[ Archives Page-specific CSS ]:---*/

.archives {
  svg {
    vertical-align: text-bottom;
    stroke: #454E55;
  }
  .i-moleskin {
    transform: rotate(270deg);
  }
  .i-camera {
    margin-right: 0.25em;
  }
}
