/*---:[ Calculators Page-specific CSS ]:---*/
fieldset {
  border: none;
}

#calculatorWrapper {
  line-height: 2.5;
  .form-control {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    vertical-align: middle;
  }
  .form-control:focus {
    border-color: #380200;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(56,2,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(56,2,0,.6);
  }
  .label {
    width: 5em;
    text-align: right;
    padding-right: 5px;
    display: inline-block;
    max-width: 100%;
  }
  #distance {
    width: 6em;
  }
  #hours,
  #minutes,
  #seconds,
  #paceMinutes,
  #paceSeconds {
    width: 3.8em;
  }
  #hours,
  #minutes,
  #paceMinutes {
    margin-right: 2px;
  }
  #minutes,
  #seconds,
  #paceSeconds {
    margin-left: 4px;
  }
  #splitDistanceUnit {
    width: 18.6em;
  }
  #paceUnit {
    width: 6.2em;
  }
  #distanceUnit {
    width: 10.4em;
  }
}

.error,
.success,
.info,
.warning {
  padding: 5px;
  border-radius: 5px;
}

.error {
  background-color: #f2dede;
}

.resultValue {
  width: 2.5em;
  display: inline-block;
}
.resultUnit {
  padding-left: 10px;
}
#times {
  max-width:15%;
  td {
    text-align: center;
  }
}
#distances {
  margin-right: 20px;
}
#distances,
#paces {
  float: left;
  width: 33%;
}
#distances,
#pace,
#times {
  .header {
    font-weight: bold;
  }
}
/* Calculators */
.splitTimes {
  .special {
    font-weight: bold;
  }

  .splitDistanceUnit {
    text-align: right;
    white-space: nowrap;
  }
}

/* Notification colours borrowed from Bootstrap */
/* I DONT THINK I USE THIS YET
.theme-colin-ignore-me {
  .content {
    fieldset {
      border: 0;
    }

    .error,
    .success,
    .info,
    .warning {
      padding: 5px;
      border-radius: 5px;
    }

    .error {
      background-color: #f2dede;
    }

    .success {
      background-color: #dff0d8;
    }

    .info {
      background-color: #d9edf7;
    }

    .warning {
      background-color: #fcf8e3;
    }

    .resultValue {
      width: 2.5em;
      display: inline-block;
    }

    .resultUnit {
      padding-left: 10px;
    }

    #times {
      max-width:15%;
      td {
        text-align: center;
      }
    }

    #distances {
      margin-right: 20px;
    }

    #distances,
    #paces {
      float: left;
      width: 33%;
    }

    #distances,
    #pace,
    #times {
      .header {
        font-weight: bold;
      }
    }

    .splitTimes {
      .special {
        font-weight: bold;
      }

      .splitDistanceUnit {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}
*/
