/*---:[ Calculators Page-specific CSS ]:---*/

  .theme-colin {
  .content {
    fieldset {
      border: 0;
    }

    /* Notification colours borrowed from Bootstrap */
    .error,
    .success,
    .info,
    .warning {
      padding: 5px;
      border-radius: 5px;
    }

    .error {
      background-color: #f2dede;
    }

    .success {
      background-color: #dff0d8;
    }

    .info {
      background-color: #d9edf7;
    }

    .warning {
      background-color: #fcf8e3;
    }

    .resultValue {
      width: 2.5em;
      display: inline-block;
    }

    .resultUnit {
      padding-left: 10px;
    }

    #times {
      max-width:15%;
      td {
        text-align: center;
      }
    }

    #distances {
      margin-right: 20px;
    }

    #distances,
    #paces {
      float: left;
      width: 33%;
    }

    #distances,
    #pace,
    #times {
      .header {
        font-weight: bold;
      }
    }

    .splitTimes {
      .special {
        font-weight: bold;
      }

      .splitDistanceUnit {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}
