/*
 * My own CSS over-rides and customisations, independent of the main poole & hyde files
 */

.theme-colin {
  img {
    height: auto;
  }

  img.emoji {
    display: inline;
    border-radius: 0;
    margin: 0 0 0.3rem;
  }

  /*---:[ Image alignment ]:---*/
  img.alignleft, img.left { float: left; margin-right: 10px }
  img.alignright, img.right { float: right; margin-left: 10px }
  img.aligncenter, img.center { clear: both; display: block; float: none; margin: 0 auto; }
  img.alignnone, img.block { clear: both; display: block; }
  img[align="left"] { clear: left; float: left; margin-right: 10px }
  img[align="right"] { clear: right; float: right; margin-left: 10px }
  img[align="middle"] { clear: both; display: block; float: none; margin: 0 auto; }

  /*---:[ Other Alignment ]:---*/
  .center, .centered { margin: 0 auto; text-align: center; }
  .alignright { float: right; margin-left: 1.571em; }
  .alignleft { float: left; margin-right: 1.571em; }


  embed, object, video, iframe { max-width: 100%; }

  figcaption {
    color: #999;
    font-size: 0.9rem;
    text-align: center;
  }

  figure img {
    margin-bottom: 0;
  }

  .sidebar p {
    font-size: 0.5rem;
  }

  .sidebar-about h1 {
    line-height: 1em;
  }

  .sidebar-about .lead {
    font-size: 0.9rem;
  }

  .content a {
    color: #3453a1;
    border-bottom: 1px solid #ccc;
  }

  .content .aside {
    margin-bottom: 4em;
  }

  .content .aside .post-date {
    display: inline;
  }

  .content .post .more-link {
    font-weight: bold;
    a {
      border: none;
    }
  }

  .content .post-title,
  .content .page-title {
    font-family: "Abril Fatface", serif;
  }

  .content .post-title,
  .content .post-title a,
  .content .page-title {
    color: #3453a1;
    border: none;
  }

  .content ul.archives {
    padding-left: 0;
  }

  .content .about_follow img {
    display: inline;
    margin-right: 20px;
  }



  .content .related-posts a {
    border: none;
  }

  .sidebar a:hover,
  .content a:hover {
    color: #bf0222;
    -webkit-transition: color .25s linear,border-color .25s linear;
    -moz-transition: color .25s linear,border-color .25s linear;
    -ms-transition: color .25s linear,border-color .25s linear;
    transition: color .25s linear,border-color .25s linear;
    text-decoration: none;
  }

  /*---:[ Calculators ]:---*/
  fieldset {
    border: 0;
  }

  /* Notification colours borrowed from Bootstrap */
  .error,
  .success,
  .info,
  .warning {
    padding: 5px;
    border-radius: 5px;
  }

  .error {
    background-color: #f2dede;
  }

  .success {
    background-color: #dff0d8;
  }

  .info {
    background-color: #d9edf7;
  }

  .warning {
    background-color: #fcf8e3;
  }

  .resultValue {
    width: 2.5em;
    display: inline-block;
  }

  .resultUnit {
    padding-left: 10px;
  }

  #times {
    max-width:15%;
    td {
      text-align: center;
    }
  }

  #distances {
    margin-right: 20px;
  }

  #distances,
  #paces {
    float: left;
    width: 33%;
  }

  #distances,
  #pace,
  #times {
    .header {
      font-weight: bold;
    }
  }

  .splitTimes {
    .special {
      font-weight: bold;
    }

    .splitDistanceUnit {
      text-align: right;
      white-space: nowrap;
    }
  }

}
