/*
 * My own CSS over-rides and customisations, independent of the main poole & hyde files
 */

.theme-colin {
  img {
    height: auto;
  }

  img.emoji {
    display: inline;
    border-radius: 0;
    margin: 0 0 0.3rem;
  }

  del {
    opacity: 0.3;
  }

  /*---:[ Image alignment ]:---*/
  img.alignleft, img.left { float: left; margin-right: 10px }
  img.alignright, img.right { float: right; margin-left: 10px }
  img.aligncenter, img.center { clear: both; display: block; float: none; margin: 0 auto; }
  img.alignnone, img.block { clear: both; display: block; }
  img[align="left"] { clear: left; float: left; margin-right: 10px }
  img[align="right"] { clear: right; float: right; margin-left: 10px }
  img[align="middle"] { clear: both; display: block; float: none; margin: 0 auto; }

  /*---:[ Other Alignment ]:---*/
  .center, .centered { margin: 0 auto; text-align: center; }
  .alignright { float: right; margin-left: 1.571em; }
  .alignleft { float: left; margin-right: 1.571em; }


  embed, object, video, iframe { max-width: 100%; }

  figcaption {
    color: #999;
    font-size: 0.9rem;
    text-align: center;
  }

  figure img {
    margin-bottom: 0;
  }

  .form-control {
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    vertical-align: middle;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  label {
    display: inline-block;
    max-width: 100%;
  }

  #calculatorWrapper {
    line-height: 2;
    .label {
      width: 130px;
      text-align: right;
      padding-right: 5px;
    }
    #distance {
      width: 76px;
    }
    #hours,
    #minutes,
    #seconds,
    #paceMinutes,
    #paceSeconds {
      width: 60px;
    }
    #hours,
    #minutes,
    #paceMinutes {
      margin-right: 2px;
    }
    #minutes,
    #seconds,
    #paceSeconds {
      margin-left: 4px;
    }
    #splitDistanceUnit {
      width: 218px;
    }
  }


  .sidebar p {
    font-size: 0.5rem;
  }

  .sidebar-about h1 {
    line-height: 1em;
  }

  .sidebar-about .lead {
    font-size: 0.9rem;
  }

  .content a {
    color: #3453a1;
    border-bottom: 1px solid #ccc;
  }

  .content .aside {
    margin-bottom: 4em;
  }

  .content .aside .post-date {
    display: inline;
  }

  .content .post .more-link {
    font-weight: bold;
    a {
      border: none;
    }
  }

  .content .post-title,
  .content .page-title {
    font-family: "Abril Fatface", serif;
  }

  .content .post-title,
  .content .post-title a,
  .content .page-title {
    color: #3453a1;
    border: none;
  }

  .content ul.archives {
    padding-left: 0;
  }

  .content .about_follow img {
    display: inline;
    margin-right: 20px;
  }



  .content .related-posts a,
  .content .about_follow a {
    border: none;
  }

  .sidebar a:hover,
  .content a:hover {
    color: #bf0222;
    -webkit-transition: color .25s linear,border-color .25s linear;
    -moz-transition: color .25s linear,border-color .25s linear;
    -ms-transition: color .25s linear,border-color .25s linear;
    transition: color .25s linear,border-color .25s linear;
    text-decoration: none;
  }

  .sidebar .social-nav {
    margin-bottom: 1rem;
    img {
      border-radius: 15px; // Makes round icons
      display: inline-block;
      margin: 0;
      width: 24px;
      height: 24px;
    }
    /* This looks really crap on Retina. Known issue: https://bugs.webkit.org/show_bug.cgi?id=93471
    a {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
      filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='28' width='28'><filter id='greyscale'><feColorMatrix type='matrix' values='0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0 0 0 1 0' /></filter></svg>");
    }
    a:hover {
      -webkit-filter: none;
      filter: none;
    }
    */
  }

  /* Taken directly from Strava - needs work */
  //.sidebar .strava-badge,
  //.sidebar .fetch-badge { display: inline-block; height: 48px; }
  //.sidebar .strava-badge- img { visibility: hidden; height: 24px; }
  //.sidebar .strava-badge-:hover { background-position: 0 -37px; }
  //.sidebar .strava-badge-follow { height: 24px; width: 24px; background: url(/img/strava-logo-orange.svg) no-repeat 0 0;}

  /*---:[ Calculators ]:---*/
  fieldset {
    border: 0;
  }

  /* Notification colours borrowed from Bootstrap */
  .error,
  .success,
  .info,
  .warning {
    padding: 5px;
    border-radius: 5px;
  }

  .error {
    background-color: #f2dede;
  }

  .success {
    background-color: #dff0d8;
  }

  .info {
    background-color: #d9edf7;
  }

  .warning {
    background-color: #fcf8e3;
  }

  .resultValue {
    width: 2.5em;
    display: inline-block;
  }

  .resultUnit {
    padding-left: 10px;
  }

  #times {
    max-width:15%;
    td {
      text-align: center;
    }
  }

  #distances {
    margin-right: 20px;
  }

  #distances,
  #paces {
    float: left;
    width: 33%;
  }

  #distances,
  #pace,
  #times {
    .header {
      font-weight: bold;
    }
  }

  .splitTimes {
    .special {
      font-weight: bold;
    }

    .splitDistanceUnit {
      text-align: right;
      white-space: nowrap;
    }
  }

}
