/*---:[ Home Page-specific CSS ]:---*/

.content {
  .i-camera {
    width: 2rem;
    vertical-align: text-bottom;
    stroke-width: 4;
  }
}

.aside {
  a.meta:hover {
    text-decoration: none;
    color: #999;
  }
  .meta {
    margin-bottom: 0;
    color: #ccc;
  }
  p {
    margin-bottom: 0;
  }
}
