/*---:[ Home Page-specific CSS ]:---*/
.aside {
  a.meta:hover {
    text-decoration: none;
    color: #999;
  }
  .meta {
    margin-bottom: 0;
    color: #ccc;
  }
  p {
    margin-bottom: 0;
  }
}
