---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body class="theme-base-0d">
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h1 class="masthead-title">
            {% assign titleparts = site.title | split: ' ' %}
            <span class="whackwhack">//</span><a href="{{ site.baseurl }}/" class="home">{{ titleparts[0] }} {{ titleparts[1] }} <span>{{ titleparts[2] }} {{ titleparts[3] }}</span></a>
          </h1>
          <span id="last_run"></span>
          <ul class="page-list">
            {% assign current = page.url | downcase | split: '/' %}
            <li{% if current[1] == 'archives' %} class='active'{% endif %}><a href="/archives">Archives</a></li>
            <li{% if current[1] == 'goals' %} class='active'{% endif %}><a href="/goals">PBs &amp; Goals</a></li>
            <li{% if current[1] == 'calculators' %} class='active'{% endif %}><a href="/calculators">Calculators</a></li>
            <li{% if current[1] == 'about' %} class='active'{% endif %}><a href="/about">About</a></li>
          </ul>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

      <div class="base">
        <div class="container" style="text-align: center">
          <p>Find me on... </p>
          <nav class="social-nav">
            <a href="http://strava.com/athletes/1295848" class="strava-badge" target="_blank" rel="noopener noreferrer"><img alt="Strava" src="/assets/strava.svg"></a>
            <a href="https://twitter.com/lildude" class="twitter-badge" target="_blank" rel="me noopener noreferrer"><img alt="Twitter" src="/assets/twitter.svg"></a>
            <a href="http://fetcheveryone.com/" class="fetch-badge" target="_blank" rel="noopener noreferrer"><img alt="FetchEveryone" src="/assets/fetch.svg"></a>
            <a href="http://www.runbritainrankings.com/runners/profile.aspx?athleteid=246985" class="runbritain-badge" target="_blank" rel="noopener noreferrer"><img alt="RunBritain" src="/assets/runbritain.svg"></a>
            <a href="http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=73185" class="parkrun-badge" target="_blank" rel="noopener noreferrer"><img alt="parkrun" src="/assets/parkrun.svg"></a>
            <a href="http://www.thepowerof10.info/athletes/profile.aspx?athleteid=246985" class="powerof10-badge" target="_blank" rel="noopener noreferrer"><img alt="Power of 10" src="/assets/powerof10.svg"></a>
            <a href="/atom.xml" class="feed-badge"><img alt="Feed" src="/assets/feed.svg"></a>
          </nav>
          Copyright © 2003 <a href="https://colinseymour.co.uk" target="_blank" rel="noopener noreferrer">Colin Seymour</a> All rights reserved.
        </div>
      </div>
    </div>

    {% include google-analytics.html %}
  </body>
</html>
