---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
  {% include head.html %}
  <body class="theme-base-0d">
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          {% comment %}
          <!-- Use JS to pull in the distance of my last run from Strava to plop in before "run"
              TODO:
              - Move to /js/last-run.js
              - Cache response
              - minify and obfuscate
            -->
          {% endcomment %}
          <script>
          var request = new XMLHttpRequest();
          request.open('GET', 'https://www.strava.com/api/v3/athlete/activities?page=1&per_page=1&access_token=8b2e10065b13a32effca31c90eae217a8c500e30&callback=', true);

          request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
              // Success!
              var data = JSON.parse(request.responseText);
              d = Math.round(data[0]["distance"]/1000) + "k";
              document.getElementById("last_run").innerHTML = '<a href="https://strava.com/" target="_blank" title="See my latest run on Strava">' + d + '<br>^';
            } else {
              // We reached our target server, but it returned an error
            }
          };
          request.onerror = function() {
            // There was a connection error of some sort
            document.getElementById("last_run").innerHTML = '<a href="https://strava.com/" target="_blank" title="See my latest run on Strava">long<br>^';
          };
          request.send();
          </script>
          <h1 class="masthead-title">
            {% assign titleparts = site.title | split: ' ' %}
            <a href="{{ site.baseurl }}/" class="home">{{ titleparts[0] }} {{ titleparts[1] }} <span>{{ titleparts[2] }} <span id="spacer"></span> {{ titleparts[3] }}</span></a>
          </h1>
          <span id="last_run"></span>
          <ul class="page-list">
            {% assign current = page.url | downcase | split: '/' %}
            <li{% if current[1] == 'archives' %} class='active'{% endif %}><a href="/archives">Archives</a></li>
            <li{% if current[1] == 'goals' %} class='active'{% endif %}><a href="/goals">PBs & Goals</a></li>
            <li{% if current[1] == 'calculators' %} class='active'{% endif %}><a href="/calculators">Calculators</a></li>
            <li{% if current[1] == 'about' %} class='active'{% endif %}><a href="/about">About</a></li>
          </ul>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

      <div class="base">
        <div class="container" style="text-align: center">
          <p>Follow me on... </p>
          <nav class="social-nav">
            <a href="http://strava.com/athletes/1295848" class="strava-badge" target="_blank">{% include social-icons/strava.svg %}</a>
            <a href="https://twitter.com/lildude" class="twitter-badge" target="_blank" rel="me">{% include social-icons/twitter.svg %}</a>
            <a href="http://fetcheveryone.com/" class="fetch-badge" target="_blank">{% include social-icons/fetch.svg %}</a>
            <a href="http://www.runbritainrankings.com/runners/profile.aspx?athleteid=246985" class="runbritain-badge" target="_blank">{% include social-icons/runbritain.svg %}</a>
            <a href="http://www.parkrun.org.uk/results/athleteresultshistory/?athleteNumber=73185" class="parkrun-badge" target="_blank">{% include social-icons/parkrun.svg %}</a>
            <a href="http://www.thepowerof10.info/athletes/profile.aspx?athleteid=246985" class="powerof10-badge" target="_blank">{% include social-icons/powerof10.svg %}</a>
            <a href="/atom.xml" class="feed-badge" target="_blank">{% include social-icons/feed.svg %}</a>
          </nav>
          Copyright © 2003 - {{ site.time | date: '%Y' }} <a href="https://colinseymour.co.uk" target="_blank">Colin Seymour</a> All rights reserved. <a href="/privacy">Privacy Policy</a>.
        </div>
      </div>
    </div>

    {% include google-analytics.html %}
  </body>
</html>
