---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">

  {% include head.html %}

  <body class="theme-colin">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}

      <p class="copymsg">&copy; <a href="http://colinseymour.co.uk/" target="_blank">Colin Seymour</a> 2003 - {{ site.time | date: '%Y' }} All rights reserved &middot <a href="/privacy/">Privacy Policy</a></p>
    </div>

    {% include google-analytics.html %}
  </body>
</html>
