---
layout: default
---

<div class="post h-entry">
  <h1 class="post-title p-name">{{ page.title }}</h1>
  {% include google-adsense-responsive.html %}
  <div class="e-content">
  {{ content }}
  </div>
  {% include google-adsense-responsive.html %}

  <p class="meta">
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}">— Published {{ page.date | date: "%d %B %Y" }}<a href="{{ page.url }}" class="u-url">.</a></time>
    <span style="display:none"><a rel="author" href="{{ site.url }}">Colin Seymour</a></span>
  </p>

</div>
