---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% comment %}
  <p class="meta">
    {% if site.name and site.name != "" %}
      <a href="/about/" class="post-author-image"><img src="/assets/avatar-40x40.png" alt="{{ site.name }}" width=20 height=20 /></a>
    {% endif %}
    Posted {% if site.name and site.name != "" %}by <a href="/about/" class="post-author">{{ site.name }}</a> {% endif %}
    on <span class="post-date">{{ page.date | date: "%d %B %Y" }}</span>
  </p>
  {% endcomment %}

  {{ content }}

  <p class="meta">
    <span class="post-date">— Published {{ page.date | date: "%d %B %Y" }}</span>
  </p>
  {% if page.discussion %}
  <div class="discussion">
    <a href="{{ page.discussion }}">View the Discussion</a>
  </div>
  {% endif %}
</div>
